---
# Only the main Sass file needs front matter (the dashes are needed)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* Add your custom CSS below this line */

.author__avatar img {
  border-radius: 15px;
  border: none; // 5px solid #024008;
}

.greedy-nav {
  background-color: #e8d5b789;
}
.greedy-nav a.site-title {
  visibility: hidden;
}
.masthead__inner-wrap {
  background-image: url('/assets/images/title.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.masthead__menu-item a {
  font-size: 0.85em;
}