---
# Only the main Sass file needs front matter (the dashes are needed)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* ==========================================================================
   Custom Styles
   ========================================================================== */

/* Add your custom CSS below this line */

.author__avatar img {
  border-radius: 15px;
  border: none; // 5px solid #024008;
}

.site-title {
  font-size: 0.85em;
  text-transform: uppercase;
  font-weight: normal;
  min-width: 110px;
  text-align: center;
}

.masthead__menu-item a {
  font-size: 0.85em;
}